body {
    color: #424242;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3da5d;
  }

  header {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  header a {
    display: inline-block;
  }
  
  header img {
    max-width: 700px;
  }
  
  /* Form Styles */
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  h3{
    display: block;
    color: white;
    background-color:#656562;
    padding: 3px;
    border-radius: 2px;
  }
  form {
    color: #d0dc59;
    max-width: 800px;
    margin: 0 auto;
    background-color:#333333;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }